<div class="hero">
    <div class="container">
      <h1>Welcome to our website</h1>
      <p> Find The Most Exiciting Startup job</p>
      <button type="button" class="btn btn-primary"  (click)="openDialog()" >
        Register
      </button>
    </div>
  </div>
  
  <section>
    <ul>
    
      <li class="card">
          <a 
             
              class="featured-image" 
              style="background-image:url('../../assets/images/imagee2.jpg')">
          </a>
          <article class="card-body">
              <header>
                  <a>
                      <span class="pre-heading">Career</span>
                      <div class="title">
                          <h3>Career in software</h3>
                      </div>
                      <p class="meta">
                          <span class="author">Utilidata</span>
                          <span> | </span>
                          <time class="updated" datetime="" itemprop="datePublished">FEBRUARY 4, 2024</time>
                      </p>
                      <p>
                        The job board is the website where an employer posts or advertises their job description. And the job seekers who find job opportunities based on their preferences. So basically when a company needs they hire an employee for a position, then create a job description or job details and advertise it on their career page for job openings. And job seekers find that job opportunity 
                           </p>
                  </a>
              </header>
             
          </article>
      </li>
          
      </ul>
  </section>
  <section>
    <ul>
    
      <li class="card">
          <a 
             
              class="featured-image" 
              style="background-image:url('../../assets/images/imageee1.jpg')">
          </a>
          <article class="card-body">
              <header>
                  <a>
                      <span class="pre-heading">Career</span>
                      <div class="title">
                          <h3>Find Your Great Track</h3>
                      </div>
                      <p class="meta">
                          <span class="author">Utilidata</span>
                          <span> | </span>
                          <time class="updated" datetime="" itemprop="datePublished">JANUARY 29, 2024</time>
                      </p>
                      <p>
                        The job board is the website where an employer posts or advertises their job description. And the job seekers who find job opportunities based on their preferences. So basically when a company needs they hire an employee for a position, then create a job description or job details and advertise it on their career page for job openings. And job seekers find that job opportunity   </p>
                  </a>
              </header>
              
          </article>
      </li>
          
      </ul>
  </section>
   
   
   
   
   
   
   
   
   
