<footer class="footer">
    <div class="container row">
        <div class="footer-col">
            <h4>company</h4>
            <ul>
                <li><a href="#">about us</a></li>
                <li><a href="#">our services</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">visit website</a></li>
            </ul>
        </div>
       
    
        <div class="footer-col">
            <h4>Apply Process</h4>
            <ul>
                <li><a href="#">search a job</a></li>
                <li><a href="#">Apply for a job</a></li>
                <li><a href="#">Get a job</a></li>
                <li><a href="#">Key to Sucess</a></li>
            </ul>
        </div>
        <div class="footer-col"></div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <h3>Created By Shraddha Kupekar</h3>
                <h5>@copyright.2024</h5>
            </div>
        </div>
    </div>
</footer>
